<dl>
    <dt>Name:</dt><dd><%= @content_block.name %></dd>
    <dt>Price:</dt><dd>$<%= @content_block.price %></dd>
    <dt>Author:</dt>
      <dd>
        <% @content_block.authors.each do |author| %>
          <li><%= link_to author.name, "/authors/#{author.slug}" %></li>
        <% end %>
      </dd>
    <dt>Genres:</dt>
      <dd>
        <% @content_block.genres.each do |g| %>
            <li><%= g.name %></li>
        <% end %>
      </dd>      
    <dt>Description:</dt><dd><%= @content_block.description.html_safe %></dd>    
</dl>

<hr>

<div class="row">
  <div class="col-md-3">
    <%= render 'authors_available_books' %>
  </div>
  <div class="col-md-3">
  </div>
</div>